/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 快捷导航 */
.shortcut {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #f1f1f1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c40000;
}

.shortcut .fl span {
    margin-right: 13px;
    color: #666666;
}

.shortcut ul li {
    float: left;
    color: #666666;
}

.shortcut ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 9px 15px 0;
}

.pic {
    position: relative;
    width: 450px;
    height: 450px;
    float: left;
    margin-top: 10px;
}

.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    background-color: #FEDE4F;
    opacity: .5;
    cursor: move;
}

.big {
    display: none;
    position: absolute;
    top: 0;
    left: 460px;
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    overflow: hidden;
    z-index: 9999;
}

.big img {
    position: absolute;
    top: 0;
    left: 0;
}

.detail {
    float: left;
    width: 600px;
    height: 600px;
    margin: 10px 0 0 10px;
}

.detail h3 {
    font-size: 18px;
}